/* Variáveis de cores */
:root {
    --text-color: #ffffff;
    --card-background: #6451bb;
    --button-background: #4a3b8e;
    --background-color: #6e57f0;
}

/* Estilos Globais */
body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    color: #0a0a0a;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Tela inicial em tela cheia */
#initial-question.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--button-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}

#initial-question h2 {
    margin-bottom: 1rem;
}

#initial-question .button {
    margin: 5px;
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
}

/* Container de planetas */
#container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
}

/* Cartões de planeta */
.card {
    background-color: var(--card-background);
    color: var(--text-color);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    margin-top: 0;
    font-size: 1.2rem;
}

/* Botões */
.button-group {
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
}

.button {
    background-color: var(--button-background);
    color: var(--text-color);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #382a6d;
}

/* Footer */
footer {
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
